/*CSS RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root {
    --white: whitesmoke;
    --light-blue: #92b2e6;
    --black: #252627;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(37, 38, 39, 0.96);
    /*background-color: rgba(16, 15, 15, 0.96);*/
    height: 5vh;
    padding: 5px 0;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
}

header .header-left {
    padding-left: 20px;
    color: var(--light-blue)
}




header .header-right {
    padding-right: 20px;
}

/*NAVBAR*/
header .header-right nav ul {
    display: flex;
    font-size: 20px;
}

header .header-right nav ul li {
    list-style: none;
    margin: 0 15px;
}

header .header-right a {
    text-decoration: none;
    color: var(--light-blue);
    font-weight: bold;
}

/*MAIN SECTION*/

/*hero section*/

section.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background: linear-gradient(#000000b3, #000000b3), url(/images/background.jpg);
    /*REFERENCE: https://stackoverflow.com/questions/26621513/darken-css-background-image*/
    background-size: cover;
    width: 100vw;
    height: 95vh;
    text-align: center;
}

/*HERO TYPOGRAPHY*/
section.hero h2 {
    font-size: 80px;
}

section.hero h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

/*INTRO CONTAINER*/
section.hero .intro-container {
    background-color: rgba(169, 169, 169, 0.17);
    padding: 50px 80px;
    border-radius: 10px;
    color: #92b2e6;
}

section.hero .intro-container h2 {
    text-shadow: 3px 0px 0px #000
}

section.hero .intro-container h1 {
    padding-bottom: 10px;
    text-shadow: 3px 0px 0px #000
}

section.hero .intro-container a {
    text-decoration: none;
    color: #252627;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 20px;
}

/*BUTTONS*/

section.hero .intro-container .github-link {
    background-color: var(--light-blue);
    width: 115px;
}

section.hero .intro-container .contact-link {
    background-color: var(--black);
    color: var(--light-blue);
    border: 1px solid var(--light-blue)
}

/*END OF BUTTONS*/